<!-- /header -->
<%#= render 'books/list' %>
<!-- <div class="top_page">
	<h1 class="top_sentence">welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers </strong>!!</h1>
</div>
<div class="row">
	<div class="col-xs-3 col-xs-offset-9">
		<p>CopyRight Infratop.inc</p>
	</div>
</div> -->