/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.box{
	margin-left: 100px;
}
strong{
	color: black;
}
.top_sentence{
	line-height: 30px;
	color: black;
}

a:visited {
    color: #666;
}
.glyphicon-book{
	color: black;
}
.btn-wrapper{
	margin: 0 auto;
	width: 500px;
}
.head{
	background-color: black;
	height: 50px;
}
.top-head{
	font-size: 30px;
	color: white;
	float: left;
	width: 300px;
}
.list-item{
	display: inline-block;
	float: right;
	margin: 0 20px;
	line-height: 50px;
}
header{
	margin: 0 auto;
}
label,h2{
	color: black;
}
.actions{
	padding: 20px 0;
}
.field{
	margin-bottom: 10px;
}
.forgot{
	margin-left: 30px;
}
.p1{
	margin-left:1000px;
}
.form-control{
	width:250px;
}
.user-edit{
	margin-left:200px;
}
.img{
	width: 20px;
	height: 20px;
}
.foot{
	color:black;
}
.success{
	color: green;
}
h1{
	color: black;
}